/* Background */
.bg {
  background: url("../../src/images/CN-BG-AUTH.jpg") no-repeat center/cover;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

/* Layout */
.overlay {
  height: 100vh;
  display: flex;
  align-items: center;
}

.layout {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

/* Box */
.auth-box {
  background: rgba(255, 255, 255, 0.95);
  padding: 35px;
  width: 320px;
  border-radius: 12px;
  margin-left: 60px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.auth-box h2 {
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.auth-box button:hover {
  background: #333;
}

.auth-box p {
  margin-top: 12px;
  color: red;
}

/* Top link */
.admin-login {
  position: absolute;
  top: 20px;
  right: 30px;
}

.admin-login a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
