body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Segoe UI;
}

.top-bar {
  height: 60px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.logo-svg { height: 38px; }

.page-title {
  margin: 20px;
  font-size: 26px;
}

.all-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
  gap: 22px;
  padding: 20px;
}

.cartoon-box {
  background: #1e293b;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.cartoon-box:hover { transform: scale(1.05); }

.cartoon-box img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.cartoon-box h4 {
  padding: 10px;
  text-align: center;
}
