body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: white;
}

.top-bar {
  height: 60px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logo-svg {
  height: 42px;
  width: auto;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  background: transparent;
  border: 1.5px solid #ff4500;
  padding: 6px 14px;
  color: #ffb089;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.actions button:hover {
  background: #ff4500;
  color: #000;
  box-shadow: 0 0 8px rgba(255, 69, 0, 0.6);
  transform: translateY(-1px);
}

.actions button:active {
  transform: scale(0.95);
}

.banner {
  height: 350px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner-overlay {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.cartoon-section {
  padding: 30px;
}

.cartoon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px,1fr));
  gap: 20px;
}

.cartoon-card {
  background: #1e293b;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.cartoon-card:hover {
  transform: scale(1.50);
}

.cartoon-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.cartoon-card p {
  padding: 10px;
  text-align: center;
}
