body {
  background: linear-gradient(120deg, #0f172a, #020617);
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
}

.top-bar {
  background: #020617;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout {
  background: crimson;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
}

.card {
  background: #020617cc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px #00000055;
}

.card h3 {
  margin-bottom: 15px;
  color: #f97316;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #f97316;
  border: none;
  padding: 10px 16px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

table {
  width: 400%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #334155;
}

td img {
  width: 100px;
  border-radius: 6px;
}
